body {
  background: #ffffff;
  color: #000000;
  font-family: sans-serif;
}

a {
  color: #0000DD;
}

a:visited {
  color: #000099;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 3em;
}

#palestine-linkedin {
  padding-top: 1em;
  font-size: 1.3em;
}

#peace-plan {
  padding-top: 0.5em;
  font-size: 1.3em;
}

#linkedin-link {
  padding-top: 0.5em;
  font-size: 1.3em;
}
