/* I intend to switch to an actual carefully-designed system for generating
 * this website once I have some time. I was trying to get it online as fast as
 * possible and I have not written HTML in a while. I now realize I could have
 * used CSS flexbox layout for this and there are probably other better ways to
 * accomplish various things as well.
 */
body {
  background: #ffffff;
  color: #000000;
  font-family: sans-serif;
}

a {
  color: #0000DD;
}

a:visited {
  color: #000099;
}

hr {
  border: 1px solid black;
  /* padding: 0; */
  margin: 0;
  padding: 0;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20em;

  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#main {
  position: absolute;
  left: 22em;
  /* right: 0; */
  max-width: 80em;
  display: flex;
  flex-direction: column;
  padding-right: 1em;
}

#centered-main {
  margin: auto;
  max-width: 80em;
  text-align: left;
}

div.mainpost {
  padding-bottom: 1em;
}

div.reply1 {
  padding-left: 1em;
  padding-bottom: 1em;
}

span.not-me {
  /* background: #EEEEEE; */
  color: #000099;
  font-family: serif;
}

div.reply2 {
  padding-left: 2em;
  padding-bottom: 1em;
}

span.reply-header {
  font-weight: bold;
  font-size: 0.9em;
  /* margin-top: 0; */
  /* padding-top: 0; */
}
